@page
@model Employee_Management.Pages.EmployeePositionView.EditModel

<h4>EmployeePosition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeePosition.EmployeeId" />
            <input type="hidden" asp-for="EmployeePosition.PositionId" />
            <input type="hidden" asp-for="EmployeePosition.StartDate" />
            <div class="form-group">
                <label asp-for="EmployeePosition.EndDate" class="control-label"></label>
                <input asp-for="EmployeePosition.EndDate" class="form-control" />
                <span asp-validation-for="EmployeePosition.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
